.title-and-link {
  display: flex;
  align-items: center; /* Centre les éléments verticalement */
}

.title-and-link h2 {
  margin-right: 10px; /* Ajoute un espacement entre le titre et le lien */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 95px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
    color: black;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li:hover a {
    color: #B1663C;
}

nav li img {
    width: 20px;
} 
.edit-mode {
    position: fixed; /* Positionnement fixe pour que la div reste en place lors du défilement */
    top: 0; /* Alignement en haut de la fenêtre */
    left: 50%; /* Alignement horizontal au centre */
    transform: translateX(-50%); /* Centrage horizontal */
    background-color: black; /* Fond noir */
    color: white; /* Couleur du texte */
    padding: 6PX 46%; /* Espacement intérieur */
    display: flex; /* Utilisation de flexbox pour centrer verticalement le contenu */
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
    z-index: 9999; /* Pour s'assurer que la div est au-dessus de tout autre contenu */
	white-space: nowrap;
}
.edit-mode i,
.edit-mode span,
.edit-mode button {
    margin: 0 10px; /* Ajoute de l'espace entre chaque élément */
}

.edit-mode button {
    margin: 0 10px; /* Ajoute de l'espace entre chaque élément */
    border-radius: 30px; /* Ajoute un arrondi aux coins du bouton */
    padding: 8px 34px; /* Ajuste le rembourrage pour un bouton plus épais */
    border: 2px solid white; /* Ajoute une bordure solide blanche */
    background-color: white; /* Définit la couleur de fond du bouton comme transparente */
    color: black; /* Couleur du texte */
    cursor: pointer; /* Change le curseur au survol du bouton */
    transition: background-color 0.3s, color 0.3s; /* Animation de transition */
}

.edit-mode button:hover {
    background-color: white; /* Changement de couleur de fond au survol */
    color: black; /* Changement de couleur du texte au survol */
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
	padding-bottom: 4%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


#categoryFilter {
    display: flex;
}

#categoryFilter option {
    margin-right: 10px;
    padding: 8px 12px;
    border: 1px solid #1D6154;
    border-radius: 30px;
    background-color: #1D6154;
    color: #FFFFFF;
    cursor: pointer;
}

#categoryFilter option:hover {
    background-color: #13503D;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-buttons button {
    margin-right: 10px;
    padding: 8px 12px;
    border: 2px solid #1D6154;
    border-radius: 30px;
    color: #1D6154;
    cursor: pointer;
    background-color: transparent; /* Ajout d'une couleur de fond transparente */
    outline: none; /* Suppression de la bordure lorsqu'un bouton est cliqué */
	font-size: 150%;
}

.filter-buttons button:hover {
    color: #13503D;
}

.filter-buttons button:focus {
    background-color: #1D6154;
    color: #FFFFFF;
}

.title-and-link {
	display: flex;
    align-items: center;
    margin-right: 48%;
    padding-left: 1%;
    position: relative;
    right: -41%;
}
  
  
  .title-and-link h2 {
	margin-right: 3%;
    margin-top: 20%;
}
  
  
  .title-and-link a {
	margin-left: -51px;
    margin-top: 15%;
}

  #file {
	width: 40%;
  }

  .hidden {
    display: none !important;
}

#cache-projet.js-modal {
	display: none;
}
.delete-button {
	display: none;
}
.divImg {
  display: flex;

}
.btn_validate:active {
    background-color: #1D6154;

}